table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 13px;
border-radius: 8px;
border-spacing: 0;
text-align: center;
}
th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 8px 5px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 8px 5px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}

caption {
font-weight: bold;
}


input[type=text]  {
   width: 25px;
   color: #fff; 
    background-color: #4CAF50;
font-weight: bold;
}
select {
   color: #fff; 
   background-color: #4CAF50;
font-weight: bold;
}


button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px #999;
  font-weight: bold;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}

.note {
 width: 100px;
    
    float:left;
  font-weight: bold;
}

img {
width: 1px;
height: 1px;
}

footer {
margin-top: 20px;
border-top: 1px solid #F8E391; 

text-shadow: 0 1px 1px #2D2020;
padding: 8px 5px;  
}

#author {
font-size: 90%;
margin: 10px;

}

#email {
font-size: 70%;
color: gray;
margin: 10px;
}


.icon-vk {
  margin-left: 10px;
display: inline-block;
background: url("picture/vk.png") no-repeat;
width: 15px;
height: 15px;
background-size: 100% 100%;
padding: 10px;
}

.icon-instagram {
display: inline-block;
background: url("picture/insta.png") no-repeat;
width: 15px;
height: 15px;
background-size: 100% 100%;
padding: 10px;
}

.icon-telegram {
display: inline-block;
background: url("picture/telegram.png") no-repeat;
width: 15px;
height: 15px;
background-size: 100% 100%;
padding: 10px;
}

#wMes {
color: red;
min-width: 300px;
text-align: center;
}